
<!DOCTYPE html>
<html>

	<head> 
	    <!--====== Meta e información SEO ======-->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Fletes Ya es una empresa dedicada a ofrecer servicios para obtener el mejor precio a la hora de realizar un envío en Chile" />
		<meta name="keywords" content="Envíos, Fletes, Negocio, Transporte, Chile" />
		
		<!--====== Título de la página ======-->
		<title>Fletes Ya - El mejor flete al precio que te gusta</title>

		<!--====== Favicon =======-->
		<link rel="shortcut icon" type="image/ico" href="/img/favicon.png" />

		<!--====== Hojas de estilo ======-->
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/animate.css">
		<link rel="stylesheet" href="/css/stellarnav.min.css">
		<link rel="stylesheet" href="/css/bootstrap.min.css" >
		<link rel="stylesheet" href="/css/all.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet"href="/css/responsive.css">

	</head>

	<body>
	   <!--====== llevar al tope ======-->
		<a href="#home" class="scrolltotop"><i class="fas fa-arrow-up"></i></a>

		<header>
			<div class="header-top-area" id="home">
				<!--====== Menú principal ======-->
				<div class="mainmenu-area" id="mainmenu-area">
					<div class="mainmenu-area-bg"></div>
					<nav class="navbar">
						<div class="container">
							<div class="navbar-header">
								<a href="/" class="navbar-brand"><img src="/img/logo.png"  class="logo" alt="logo"></a> 
							</div>
							<div id="main-nav" class="stellarnav">
								<ul id="nav" class="nav navbar-nav">
									<li><a href="/">Ir a página principal</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
				<!--====== fin de menú principal ======-->
			</div>
		</header>
