<% include partials/_header %>

<section class="service-area-three section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                <div class="area-title text-center wow fadeIn">
                    <h2 style="padding-top:30px;">404</h2>
                    <p style="font-size:16px;">Página no encontrada, <a href="javascript:history.back()"><strong>volver.</strong></a></p>
                 </div>
            </div>
        </div>
    </div>
</section>  

<% include partials/_footer %>

